<form class="text-medium mx-auto p-5 border-2 shadow w-96 m-36" >
  <h1 class="text-2xl font-serif p-4 ml-24">Login Here...!!!</h1>
  <label for="email" class="font-medium p-2" >Email</label><br>
  <input type="email" placeholder="Enter EmailID" class="font-medium p-2 border-b-2 w-72" name="email" [(ngModel)]="email">
  <br>
  <label for="password" class="font-medium p-2">Password</label><br>
  <input type="password" placeholder="Enter Password" class="font-medium p-2 border-b-2 w-72" name="password" [(ngModel)]="password">
  <br>
  <button   type="button" class="bg-blue-400 p-2 rounded mt-2 font-bold mx-auto flex text-white" (click)="login()"> Login</button>

  <button type="button" class="bg-green-300 p-2 rounded m-2 font-bold mx-auto text-white shadow" (click)="loginwithGmail()"> Login with GOOGLE</button>
  <button type="button" class="bg-blue-300 p-2 rounded ml-1 font-bold  text-white shadow" > Login with Facebook</button>
  <br>
  <button><small  class=" p-2 text-blue-500"><em>Forgot Your Password?</em></small></button>
  <br>
  <button routerLink="register" class=" p-3"><i>New User? SignUp...</i></button>



</form>

