<div class="p-10 ">       
    <section class="bg-blue-300 rounded-2xl p-5 text-gray-800">
        <div class="container  mx-auto">
            <div class="flex items-center">
                <div class=" items-center text-medium font-bold bg-red-500 text-white px-10 py-2 rounded">To Do List</div>
            </div>
        </div>
    </section>
    <div class="flex p-3 ml-28">
        <input type="text" placeholder="checklist" class="p-2 border-2 rounded" #todo>
        <button class="p-2 rounded bg-red-400 font-medium text-white" (click)="onclick(todo)">Add</button>
    </div>
</div>